 .u-section-1 {
  background-image: none;
  min-height: 1670px;
}

.u-section-1 .u-shape-1 {
  height: 825px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-2 {
  height: 1323px;
  width: 303px;
  margin: -740px calc(((100% - 1140px) / 2) + 290px) 0 auto;
}

.u-section-1 .u-image-1 {
  height: 595px;
  width: 707px;
  object-position: 45.65% 50%;
  margin: -1408px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  width: 534px;
  height: 534px;
  margin: -222px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 646px;
  width: 585px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.2);
  margin: -243px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-5 {
  margin: 7px 0 0;
}

.u-section-1 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-6 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-7 {
  margin: 7px 0 0;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-8 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-icon-9 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 32px calc(((100% - 1140px) / 2) + 384px) 58px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 290px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1608px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 290px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1552px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 237px);
  }

  .u-section-1 .u-image-1 {
    height: 454px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-top: -81px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1190px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + 37px);
  }

  .u-section-1 .u-image-1 {
    height: 286px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: 87px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -49px;
    margin-bottom: 12px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}