 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/baby-playing-with-colorful-ball.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-text-1 {
  margin: 69px auto 0 22px;
}

.u-section-1 .u-text-2 {
  margin: 80px 22px 0 581px;
}

.u-section-1 .u-image-1 {
  width: 537px;
  height: 359px;
  margin: -448px auto 0 33px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 146px;
  margin-bottom: 27px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 34px auto 0;
  padding: 12px;
}

.u-section-1 .u-text-3 {
  margin: 7px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 34px auto 0;
  padding: 12px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 22px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  padding: 12px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 33px auto 0;
  padding: 12px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 29px 30px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1543px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 14px;
    margin-left: 518px;
  }

  .u-section-1 .u-image-1 {
    width: 455px;
    height: 317px;
    margin-top: -547px;
    margin-left: 48px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 840px;
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 54px;
    width: 54px;
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-icon-2 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-1 .u-icon-4 {
    position: relative;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 384px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-image-1 {
    width: 670px;
    height: 346px;
    margin-top: -771px;
    margin-right: 17px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 459px;
    margin-bottom: 23px;
  }

  .u-section-1 .u-icon-1 {
    height: 57px;
    width: 57px;
    margin-top: 46px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1584px;
  }

  .u-section-1 .u-text-2 {
    width: 409px;
    margin-top: 256px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 419px;
    height: 246px;
    margin-top: -717px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 493px;
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    height: 56px;
    width: 56px;
    margin-top: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1661px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 261px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 318px;
    height: 212px;
    margin-top: -765px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 576px;
    margin-bottom: 26px;
    position: relative;
  }

  .u-section-1 .u-icon-1 {
    height: 55px;
    width: 55px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}