 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/boy-blue-shirt-smiles-while-holding-colorful-egg-surrounded-by-colorful-balls.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-1 .u-text-1 {
  margin: 34px 228px 0 13px;
}

.u-section-1 .u-group-1 {
  width: 374px;
  min-height: 66px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0 18px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  margin: 0 33px 0 76px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 374px;
  min-height: 66px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -66px 327px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-3 {
  margin: 22px 40px 0 69px;
}

.u-section-1 .u-group-3 {
  width: 374px;
  min-height: 66px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0 18px;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-4 {
  margin: 22px 28px 0 48px;
}

.u-section-1 .u-group-4 {
  width: 374px;
  min-height: 66px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(128,128,128,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -66px 327px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 22px 13px 0 96px;
}

.u-section-1 .u-group-5 {
  width: 374px;
  min-height: 66px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0 13px;
}

.u-section-1 .u-container-layout-5 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-6 {
  margin: 0 33px 0 76px;
}

.u-section-1 .u-group-6 {
  width: 374px;
  min-height: 66px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(128,128,128,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -66px 327px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 33px 0 76px;
}

.u-section-1 .u-image-1 {
  width: 616px;
  height: 428px;
  margin: 52px auto 0 48px;
}

.u-section-1 .u-text-8 {
  margin: -416px 13px 0 675px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 34px auto 0;
  padding: 12px;
}

.u-section-1 .u-text-9 {
  margin: 7px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 34px auto 0;
  padding: 12px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 22px auto 0 71px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  padding: 12px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 259px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 33px auto 0;
  padding: 12px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 29px 30px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1532px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 12px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -65px;
    margin-right: 155px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 12px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -64px;
    margin-right: 150px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 12px;
    margin-left: 22px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: -64px;
    margin-right: 150px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 41px;
    margin-right: 18px;
    margin-left: 470px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin: 60px -14px -154px auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 21px;
    margin-left: -16px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -69px;
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 16px;
    margin-left: -12px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -62px;
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 10px;
    margin-left: -12px;
  }

  .u-section-1 .u-group-6 {
    margin-right: auto;
    margin-left: 362px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 35px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-1 .u-group-1 {
    margin-left: -8px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 24px;
    margin-right: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 7px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 375px;
    margin-top: 19px;
    margin-left: -12px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: -54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1835px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 59px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 23px;
    margin-left: 52px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 11px;
    margin-left: 31px;
  }

  .u-section-1 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 16px;
    margin-left: 59px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 16px;
    margin-left: 59px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 236px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover:before {
  background-color: #2cccc4 !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-1 {
  border-color: transparent !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover:before {
  background-color: #2cccc4 !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-2 {
  border-color: transparent !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover:before {
  background-color: #2cccc4 !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-3 {
  border-color: transparent !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-4,
.u-section-1 .u-group-4:before,
.u-section-1 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-4.u-group-4.u-group-4:hover:before {
  background-color: #2cccc4 !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-4 {
  border-color: transparent !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-5,
.u-section-1 .u-group-5:before,
.u-section-1 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-5.u-group-5.u-group-5:hover:before {
  background-color: #2cccc4 !important;
}

.u-section-1 .u-group-5.u-group-5.u-group-5:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-5 {
  border-color: transparent !important;
}

.u-section-1 .u-group-5.u-group-5.u-group-5.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-5 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-6,
.u-section-1 .u-group-6:before,
.u-section-1 .u-group-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-6.u-group-6.u-group-6:hover:before {
  background-color: #2cccc4 !important;
}

.u-section-1 .u-group-6.u-group-6.u-group-6:hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-6 {
  border-color: transparent !important;
}

.u-section-1 .u-group-6.u-group-6.u-group-6.hover {
  box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-group-6 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-group-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}